.sponsors {
    padding: 56px 20px;
    min-height: 100%;
    width: 100%;
    background-color: #ffffff;
}

.sponsors h1 {
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
}

.sponsors a,
.sponsors a:active {
    color: #000000;
    text-decoration: none;
}

.sponsors a:hover {
    text-decoration: none;
    font-weight: bold;
}

.sponsorsContainer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.sponsorsLogosContainer {
    text-align: center;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(1, 100px);
}

.sponsorsLogosContainer img {
    width: auto;
    height: auto;
    max-height: 60px;
}

.sponsorVeksLogo {
    max-height: 40px !important;
}

.sponsorsContentsContainer {
    text-align: center;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(1, 100px);
}

.source {
    margin-top: 60px;
    text-align: center;
}

.source img {
    height: 20px;
    width: 20px;
}

.author {
    margin-top: 60px;
    margin-bottom: 60px;
}
